@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;0,900;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@view-transition {
    navigation: auto;
}

@font-face {
    font-family: "h_hachimakiregular";
    src: url("../fonts/hachimaki/hachimaki-eawz8-webfont.woff2") format("woff2"),
        url("../fonts/hachimaki/hachimaki-eawz8-webfont.woff") format("woff"),
        url("../fonts/hachimaki/Hachimaki-EawZ8.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

body {
    @apply bg-black text-gray-700;
    font-family: "Rubik";
}
h1 {
    @apply text-2xl font-bold;
}
h2 {
    @apply text-xl font-bold my-4;
}
h3 {
    @apply text-lg font-bold my-4;
}
ul {
    @apply my-10;
}
p {
    /* @apply my-2; */
}

.hero {
    @apply h-screen h-dvh w-full bg-cover bg-no-repeat bg-center relative flex items-center;

    video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    .overlay {
        @apply absolute top-0 left-0 w-full h-full opacity-85;
        background: rgb(2, 0, 36);
        background: linear-gradient(
            84deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(9, 66, 121, 1) 50%
        );
    }

    .hero-content {
        @apply relative;

        h2 {
            @apply text-white-100 text-balance m-0 font-light;
            font-family: "h_hachimakiregular";
            font-size: clamp(2.75rem, 10vw, 10rem);
            line-height: normal;
            text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
            opacity: 0;
            translate: 0 3rem;
            animation-name: slideup;
            animation-duration: 400ms;
            animation-delay: 1s;
            animation-fill-mode: forwards;
        }

        p {
            @apply text-primary leading-none mt-4;
            font-size: clamp(1rem, 5vw, 2rem);
            transform: translate(0px, 0px);
            opacity: 0;
            transition-property: transform, opacity;
            transition-duration: 250ms;
            transition-timing-function: ease;
            animation-name: slideup;
            animation-duration: 400ms;
            animation-delay: 1.5s;
            animation-fill-mode: forwards;
        }

        a {
            --btn-color: #eb4432;
            --hover-color: #fff;
            font-size: 1.5rem;
            color: var(--btn-color);
            padding: 10px 20px;
            border-radius: 10px;
            border: 2px solid var(--btn-color);
            background: none;
            box-shadow: 3px 3px var(--btn-color);
            cursor: pointer;
            margin-block-start: 4rem;
            transform: translate(0px, 0px);
            opacity: 0;
            transition-property: color, border, transform, box-shadow, opacity;
            transition-duration: 250ms;
            transition-timing-function: ease;
            animation-name: slideup;
            animation-duration: 400ms;
            animation-delay: 2s;
            animation-fill-mode: forwards;

            &:active {
                box-shadow: none !important;
                transform: translate(3px, 3px);
            }

            &:hover {
                color: var(--hover-color);
                border: 2px solid var(--hover-color);
                box-shadow: 3px 3px var(--hover-color);
            }
        }
    }

    .icon-wrapper {
        @apply absolute bottom-0 text-primary inline-flex items-center justify-center p-3 rounded border-current;
        right: 2rem;
        bottom: 2rem;
        width: 10rem;
        border: 8px solid;
        border-radius: 50%;
        transition-property: transform, rotate;
        animation-name: rotateicon;
        animation-duration: 25s;
        animation-timing-function: linear;
        animation-direction: reverse;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    }

    .star-icon {
        max-width: 100%;
        height: auto;
        position: relative;
        top: -5px;
    }
}

.photo-credit {
    @apply absolute bottom-4 left-4 text-gray-200 text-xs bg-stone-800 rounded p-2;

    a {
        @apply underline transition duration-150 hover:text-primary;
    }
}

/* header */
header {
    @apply flex fixed z-10 w-full gap-5 px-12 py-6 mx-auto;

    nav {
        @apply flex items-center justify-between w-full;

        h1 {
            .dojo-logo {
                @apply flex;

                .logo-text {
                    @apply flex flex-col justify-center;
                }

                p {
                    @apply text-primary leading-none;
                    font-family: "h_hachimakiregular";
                    text-shadow: -4px 3px 0 #000000, -6px 4px 0 #000;
                    transition-property: transform, opacity;
                    transition-duration: 250ms;
                    transition-timing-function: ease;
                    z-index: 0;
                    opacity: 0;
                    translate: -5rem 0;
                    animation-name: slideleft;
                    animation-duration: 400ms;
                    animation-delay: 1s;
                    animation-fill-mode: forwards;
                }
            }
        }

        ul {
            @apply flex m-0;
        }
    }

    #logo-80 {
        width: 120px;
        height: 58px;
        z-index: 5;
    }
}

/* form elements */
form {
    @apply max-w-screen-sm;
}
input,
select,
textarea {
    @apply block w-full mt-2 mb-4 p-2;
}

/* custom classes */
.container {
    @apply max-w-screen-lg mx-auto px-12 py-8;
}

.fw-container {
    @apply px-12 py-8;
}

.card {
    @apply bg-white rounded border border-gray-200 px-3 py-3 my-2 flex justify-between items-center;
}
.highlight {
    @apply border-l-4 border-l-red-500;
}
.btn {
    @apply rounded px-3 py-2 bg-gray-200 hover:bg-red-500 hover:text-white;
}

@keyframes slideup {
    from {
        opacity: 0;
        translate: 0 3rem;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes slideleft {
    from {
        opacity: 0;
        translate: -5rem 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes rotateicon {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 1turn;
    }
}
